/*******map style**********/
body {
    padding: 0;
    margin: 0;

    overflow: hidden;
}

#mapContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -5;
}

/*******demo style**********/
#head {
    width: 100%;
    height: 60px;
    position: absolute;
    z-index: 5;
}

#logo {
    height: 56px;
    width: 311px;
    background: url(../../images/frameimages/banner-logo.png);
    margin: 10px 0px 0px 20px;
}

#toolbar {
    vertical-align: top;
    margin: 18px 0px 0px 150px;
    /*margin-top: 17px\0;*/
    *margin-top: 21px;
}

.widgetControl {
    position: absolute;
    top: 70px;
    right: 0px;
    width: 30px;
    padding: 5px;
    /*border: 1px solid #A6C9E2;*/
    background: #FCFDFD;
}

#widgetControl {
    position: absolute;
    /*top: 60px;*/
    right: 10px;
    /*height: 100%;*/
    z-index: 4;
}

.widgetControl_l {
    vertical-align: top;
    width: 330px;
    display: inline-block;
    position: relative;
}

.widgetControl_r {
    vertical-align: top;
    width: 30px;
    display: inline-block;
}

.widget_container {
    position: relative;
    width: 330px;
    margin-top: 10px;
}

.widgetsCon {
    position: absolute;
    top: 60px;
}

.widget_removeoutbtn, .widget_minusbtn {
    display: inline-block;
}

.measureResult {
    height: 40px;
    font-size: 2em;
    line-height: 40px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #74A1AF;
    color: #000000;
    background-color: #ffffff;
}

/**********common style*******************/
.head_child {
    display: inline-block;
}

.ui-menu {
    width: 150px;
}

.sm_menu_li {
    font-size: 14px;
}

.tab_icon {
    width: 24px;
    height: 24px;
    vertical-align: top;
    display: inline-block;
    margin-right: 10px;
    margin-top: 2px;
}

.tab_txt {
    vertical-align: top;
    font-size: 16px;
    line-height: 26px;
    display: inline-block;
}

.tool_icon {
    background: url(../../images/frameimages/tool.png);
}

.icon16_16 {
    width: 16px;
    height: 16px;
    vertical-align: top;
    display: inline-block;
    margin: 0px 5px 0px 5px;
}

.dialog_title_icon {
    margin: 0px 10px 0px 0px;
}

.measure_16_16 {
    background: url(../../images/frameimages/measure_16_16.png);
}

.geolocate_16_16 {
    background: url(../../images/frameimages/geolocate_16_16.png);
}

.draw_16_16 {
    background: url(../../images/frameimages/draw_16_16.png);
}

.pan_16_16 {
    background: url(../../images/frameimages/pan_16_16.png);
}

.menu_txt {
    vertical-align: top;
    display: inline-block;
    line-height: 16px;
}

ul, li {
    padding: 0px;
    margin: 0px;
}

div[id*="PanZoomBar"] {
    top: 80px;
}

/*******************old style**********************/
.fontstyle {
    font-size: 14px;
    padding-left: 5px;
}

.input {
    transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    border: #35A5E5 1px solid;
    border-radius: 4px;
    outline: none;
    width: 95%;
    height: 17px;
    margin-left: 5px;
}

.button3 {
    cursor: pointer;
    width: 190px;
    height: 35px;
    margin: 5px 5px 5px 5px;
    border: 1px solid #CCC;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    padding-top: 12px;
    background: #9EBFE2 5px 8px;
    -webkit-transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.button4 {
    cursor: pointer;
    width: 190px;
    height: 20px;
    margin: 5px 5px 5px 5px;
    border: 1px solid #CCC;
    border-radius: 8px;
    font-size: 16px;
    text-align: center;
    padding-top: 3px;
    background: #9EBFE2 5px 8px;
    -webkit-transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

#measureResult {
    width: 190px;
    height: 40px;
    border: 1px solid #CCC;
    margin: 5px 5px 5px 5px;
    border-radius: 8px;
    font-size: 14px;
    text-align: center;
    padding-top: 5px;
}

p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
